:root {
  --yelow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.page {
  position: relative;
  height: 100%;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loader .2s linear forwards;
          animation: loader .2s linear forwards;
}

.loader div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: pink;
  margin: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: scaling 2s ease-in-out infinite;
          animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.loader div:nth-child(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.loader div:nth-child(3) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes scaling {
  0%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaling {
  0%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.container {
  position: absolute;
  z-index: 1;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 20% 50% 25% 5%;
      grid-template-rows: 20% 50% 25% 5%;
      grid-template-areas: "nav     aside" "main    aside" "footer  aside" "links   aside";
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

.navbar-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 80px;
  -webkit-animation: 2s navbar .5s ease-in-out;
          animation: 2s navbar .5s ease-in-out;
}

.navbar-content img {
  width: 50px;
}

.navbar-content ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 450px;
}

.navbar-content ul a {
  display: block;
  text-decoration: none;
  color: var(--red);
  font-weight: 300;
  text-transform: uppercase;
}

@-webkit-keyframes navbar {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes navbar {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.main-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: 2s main .75s ease-in-out;
          animation: 2s main .75s ease-in-out;
}

.main-content h2 {
  font-size: 32px;
  margin: 0 0 -16px 30px;
  font-weight: 300;
}

.main-content h1 {
  font-size: 48px;
  margin: 0 0 10px 0;
}

.main-content p {
  width: 70%;
  font-weight: 100;
  margin: 0;
}

@-webkit-keyframes main {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes main {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.side-content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: aside;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-content h2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 36px;
  font-weight: 300;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  opacity: 0;
  -webkit-animation-name: superman-text;
          animation-name: superman-text;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.side-content img {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -webkit-animation: 2s superman-img .5s ease-in-out;
          animation: 2s superman-img .5s ease-in-out;
}

.side-content div {
  background-color: var(--yelow);
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: 100%;
}

@-webkit-keyframes superman-text {
  100% {
    opacity: 1;
  }
}

@keyframes superman-text {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes superman-img {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes superman-img {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.footer {
  background-color: var(--yelow);
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  padding-left: 80px;
  border-radius: 0 80px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-animation: .5s footer 2.5s ease-in-out forwards;
          animation: .5s footer 2.5s ease-in-out forwards;
}

.footer div {
  background-color: var(--blue);
  width: 130px;
  height: 50%;
  border-radius: 20px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer div:hover img {
  cursor: pointer;
  -webkit-transform: translateY(-20px) scale(1.1);
          transform: translateY(-20px) scale(1.1);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.footer img {
  width: 160px;
  position: absolute;
  bottom: 30px;
  -webkit-transform: translateY(20px) scale(1);
          transform: translateY(20px) scale(1);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

@-webkit-keyframes footer {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes footer {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.clases-hidden {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: links;
  padding-left: 80px;
  background-color: var(--yelow);
}

.modal {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  place-items: center;
}

.modal-content {
  background-color: #fff;
  width: 50%;
  height: 50%;
}

.hidden {
  display: none;
}

.visible {
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=style.css.map */