.better{
  will-change: transform;
  transition: transform .5s;
  
  &:hover{
    transform: translateY(5px);
  }
}

.worst{
  will-change: margin-top;
  transition: margin-top .5s;
  
  &:hover{
    margin-top: 5px;;
  }
}