html{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.main{
  // min-height: 100vh;
  font-family: sans-serif;
}
.notes{
  background-color: #fafafa;
  min-height: calc(100vh - 32px);
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

.notes div{
  margin-bottom: 1rem;

  &:first-child{
    text-transform: uppercase;
    // font-size: 3rem;
    font-weight: 100;
  }
  &::first-letter{
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}